* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

html,
body {
  height: 100%;
  background: #0F1A22;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: inherit;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}